<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pc components.css">
    <title>Kermit PC Components</title>
</head>
<body>
    <nav class="zone">
        <ul class="main-nav">
            <li><a href="../../index.html">Kermit Shop</a></li>
            <li><a href=".././computers/computers.html">Computers</a></li>
            <li><a href=".././tablets/tablets.html">Tablets</a></li>
            <li><a href="./pc components.html">PC_Components</a></li>
            <li class="push"><a href=".././help/help.html">Help</a></li>
        </ul>
    </nav>
    <br><br>
    <div class="main-container">
        <img src="https://m.media-amazon.com/images/I/71M4pG5B6zS._AC_SX569_.jpg">
    </div>
    <br><br>

    <div class="wrapper">
        <div class="card">
          <div class="card-banner">
            <p class="category-tag popular">$1500.00</p>
            <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
          </div>
          <div class="card-body">
            <p class="blog-hashtag">Lorem ipsum dolor sit</p>
            <h4 class="blog-title">Blog Title</h4>
            <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
        
            <div class="card-profile">
              <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
              <div class="card-profile-info">
                <h3 class="profile-name">Profile Name</h3>
                <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-banner">
            <p class="category-tag popular">popular</p>
            <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
          </div>
          <div class="card-body">
            <p class="blog-hashtag">Lorem ipsum dolor sit</p>
            <h4 class="blog-title">Blog Title</h4>
            <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
        
            <div class="card-profile">
              <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
              <div class="card-profile-info">
                <h3 class="profile-name">Profile Name</h3>
                <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-banner">
            <p class="category-tag popular">popular</p>
            <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
          </div>
          <div class="card-body">
            <p class="blog-hashtag">Lorem ipsum dolor sit</p>
            <h4 class="blog-title">Blog Title</h4>
            <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
        
            <div class="card-profile">
              <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
              <div class="card-profile-info">
                <h3 class="profile-name">Profile Name</h3>
                <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- ////////article card 2nd row//////////////////////////////////////////////////////////////////// -->
    <div class="wrapper">
    <div class="card">
        <div class="card-banner">
          <p class="category-tag popular">$1500.00</p>
          <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
        </div>
        <div class="card-body">
          <p class="blog-hashtag">Lorem ipsum dolor sit</p>
          <h4 class="blog-title">Blog Title</h4>
          <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
      
          <div class="card-profile">
            <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
            <div class="card-profile-info">
              <h3 class="profile-name">Profile Name</h3>
              <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-banner">
          <p class="category-tag popular">popular</p>
          <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
        </div>
        <div class="card-body">
          <p class="blog-hashtag">Lorem ipsum dolor sit</p>
          <h4 class="blog-title">Blog Title</h4>
          <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
      
          <div class="card-profile">
            <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
            <div class="card-profile-info">
              <h3 class="profile-name">Profile Name</h3>
              <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-banner">
          <p class="category-tag popular">popular</p>
          <img class="banner-img" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15935/15935402.jpg">
        </div>
        <div class="card-body">
          <p class="blog-hashtag">Lorem ipsum dolor sit</p>
          <h4 class="blog-title">Blog Title</h4>
          <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing e</p>
      
          <div class="card-profile">
            <img class="profile-img" src="https://www.thoughtco.com/thmb/CiOl2IElqosLskhaET3MMbmUYkg=/3445x2584/smart/filters:no_upscale()/GettyImages-103210492-56a134f75f9b58b7d0bd0624.jpg">
            <div class="card-profile-info">
              <h3 class="profile-name">Profile Name</h3>
              <p class="profile-followers">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
      </div>

</body>
</html>